*,
*::before,
*::after {
  /* outline: 1px dashed #2F4F4F; */
}

body {
  background-color: ghostwhite;
}

.container {
  max-width: 470px;
  padding: 10px;
  background-color: dodgerblue;
  border-radius: 4px;
}
.casio {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: ghostwhite;
  height: 35px;
}
.field{
  display: flex;
  align-items: baseline;
}
.value{
  font-size: 36px;
  display: flex;
  justify-content: flex-end;
  width: 40px;
  margin-right: 4px;
}
.label {
  color: #85C1E9;
}